* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.heading h5 {
    font-size: 80px;
    color: hsla(4, 86%, 22%, 0.993);
    font-weight: 800;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-top: 150px;
    text-align: center;
}

.heading p {
    font-size: 12px;
    color: rgb(0, 0, 0);
    font-family: monospace;
    text-align: center;
}

.waves {
    background-color: hsla(4, 86%, 22%, 0.993);
    color: white;
    padding: 8px;
    border-radius: 5px;
    margin-left: 45%;
    font-family: 'Times New Roman', Times, serif    ;
}

.waves:hover {
    background-color: rgb(63, 0, 0);
}

.nav-wrapper {
    background-color: rgb(63, 0, 0);
    font-family: 'Times New Roman', Times, serif    ;
    font-weight: bold;
}

.input-field {
    width: 50%;
    border-radius: 20px;
    transform: translate(30%, 0);
}

.nav-logo img {
    height: 30px;
    width: 50px;
    margin: 5px;
    margin-top: 15px;
}